.btsDashboard[data-v-6ac0cb13]{width:100%;height:100%;padding:42px 8px;margin:0;cursor:pointer;border-radius:5px;background-color:#f0f0f0}.btsDashboard[data-v-6ac0cb13]:hover,.btsDashboard[data-v-6ac0cb13]:focus{background-color:#e1e1e1}
